*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


.navbar
{
  display: flex;
  width: 100%;
  height:70px;
  background-color:black;
  color:white;
  gap:30px;
  align-items: center;
  padding-left:60px;
  position: fixed;
  z-index: 1;
}

.navbar i{
  font-size:29px;
}

/* Container for the search bar */
    .search {
      margin:0px;
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: 8px;
      overflow: hidden;
      width:550px;
      height:40px;
    }

    /* Input field styling */
    .search input[type="text"] {
      padding: 10px 15px;
      border: none;
      outline: none;
      width: 100%;
      font-size: 16px;
      background-color: transparent;
    }

    /* Search button with icon */
    .search button {
      padding: 10px 15px;
      background-color: #8db40d;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 10px;
    }

    /* Hover effect for the button */
    .search button:hover {
      background-color: #719303;
    }

    #pincode{
      width:260px;
      height:40px;
      background-color: rgb(65, 64, 64);
      border:1px solid rgb(87, 86, 86);
      border-radius:6px;
      margin-left:50px;
      padding-left: 10px;
    }
    #pincode::placeholder{
      color:white;
    }


    /* sticky navbar  */
.sticky {
  width: 100%;
  height: 60px;
  position: relative;         
  top: 70px;
  left: 0;
  z-index: 1000;
  color: white;
  background-color: rgb(52, 52, 52);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.sticky p i {
  font-size: 13px;
  padding-left: 10px;
}

.sticky p:hover {
  font-size: 10px;
  font-weight: 450;
  cursor: pointer;
}

/* Dropdown Container for Cats */
.cat_container {
  width: 100%;
  transition: opacity 0.2s ease;

  height: 600px;
  display: none;            /* hidden by default */
  position: absolute;
  top: 0px;              
  left: 0;
  background-color: white;
  color: black;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 999;
}

.cat_menu {
  position: relative;
}

.cat_menu:hover .cat_container {
  display: flex;     
  width:100%;   
  position: fixed; 
    /* shows on hover */
  top:130px;
  height:600px;
  border-radius: 9px;
  left:0px;
}

/* Cat container inner design */
.cat_rows,.dog_rows {
  width: 700px;
  line-height: 30px;
}
.cat_rows p,.dog_rows p,.pharmacy_rows p{
    font-size: 15px;
}
.cat_rows h3,.dog_rows h3,.pharmacy_rows h3{
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cat_container button {
  background-color: #99c703;
  border-radius: 6px;
  border: 0;
  width: 90px;
  height: 20px;
  margin-left: 10px;
}

.cat_container p:hover {
  font-weight: 500;
  font-size: 14px;
}

/* dog hover */
.dog_container{
    width:100%;
    height:500px;
     display: none;
     position: absolute;
    /* background-color: aquamarine; */
    top:60px;
    left:100px;
    background-color: white;
    color:black;
    
    z-index: 999;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.dog_container button{
    background-color:#caf14a;
    border-radius: 6px;
    border:0px solid white;
    width:90px;
    height:20px;
    margin-left: 10px;
}
.dog_rows{
    width:700px;
    line-height: 30px;
}
.dog_container p:hover{
    font-weight: 500;
    font-size: 17px;
}
.cat_menu:hover .dog_container {
  display: flex;     
  width:100%; 
  border-radius: 9px;
  height:600px; 
  position: fixed; 
  gap:30px;
  left:0px;
  top:120px;
}
/* pharmacy container */
.pharmacy_container{
    width:100%;
    height:500px;
    display:none;
    
    top:60px;
    left:0;
    padding:40px;
    position: absolute;
    z-index: 999;
    color:black;
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.pharmacy_menu {
    position: relative;
}
.pharmacy_rows{
    width:200px;
    line-height: 30px;
   
}
.pharmacy_container p:hover{
    font-weight: 400;
}
.pharmacy_menu:hover .pharmacy_container {
    display:flex;
    width: 100%;
    gap:50px;
    position: fixed;
    padding-left: 150px;
    height:600px;
    top:120px;
    /* left:150px; */
    border-radius: 9px;
}

/* breed container */
.breed_container{
    display:none;
    overflow: auto;
    position:absolute;
    background-color: white;

}
.breed_menu{
    position: relative;
}
.breed_div img{
    width:150px;
    height:150px;
    margin: 10px 25px;
}
.breed_div p{
    font-size: 19px;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: 500;
}
.breed::-webkit-scrollbar {
        display: none;/* Hides scrollbar in WebKit-based browsers like Chrome, Safari, and older Edge*/
    } 
.breed_menu:hover .breed_container{
    display:flex;
    width: 100%;
    position: fixed;
    height:230px;
    overflow:auto;
    left:0px;
    top:120px;
    font-weight: 500;
} 
.breed_container::-webkit-scrollbar{
  display: none;
}


/* image one */

.image_one img{
    width:100%;
    height:590px;
}

/* light green line */

.light_green{
    width:100%;
    height:70px;
    background-color: #EBFFFA;
    display: flex;
    /* gap:60px;  */
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    color:rgb(65, 64, 64);
}
.light_green i{
    font-size: 26px;
}

/* advice tag */

.advice_image{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.advice p{
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin:20px 0px;
}
.img img{
    width:80%;
    height:100px;
}
.img p{
    font-size: 17px;
    width:60%;
    margin:10px;
    font-weight: 400;
    text-align: center;
}

.image_two p{
     display: flex;
     justify-content: center;
     padding: 30px 0px;
     font-size: 28px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.dog{
    width:60%;
    height:530px;
    margin-left:15%;
    position: absolute;
    top:1100px;
}

.bgcolor{
    width:100%;
    height:550px;
    top:1500px;
    margin-top:250px;
    /* position: absolute; */ 
    z-index:-1;
}

.image_two_relative p{
    padding-left:50x;
    font-size: 20px;
    font-weight: 600;
    margin-top:-190px;

}

.image_two_relative button{
    width: 300px;
    height:45px;
    border: 0px;
    border-radius: 7px;
    background-color: #ef6c00;
    color:white;
    font-size: 20px;
    margin-left:550px;
    margin-bottom: 100px;
}

/* image for doctor details */

.image_three{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.image_three_row{
    display: flex;
    margin-left:30px;
    gap:26px;
}
.image_three p{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
.row1{
    text-align: center;
     width:500px;
    height:340px;
    line-height: 30px;
    border-radius: 7px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.image_three_row img{
    width:200px;
    margin-top: 20px;
    height:200px;
}
.image_three_row p{
    font-size: 15px;
    font-weight: 300;
}
.row1 h1{
    font-weight: 400;
    font-size: 23px;
}
.row1 h3{
    font-weight: 350;
    font-size: 17px;
}

/* image four */
.image_four img{
    width:220px;
    height:60px;
    margin:70px 620px;
}

/* leaf div  */

.container_leaf{
    display: flex;
    gap:90px;
    margin-left:330px;
}
.leaf_parent{
    display: flex;
}
.pa{
    margin-top:26px;
    color: #716F6F;
}
.pa h1{
    font-size: 25px;
}
.pa p{
    text-align: center;
}

/* feedback div */

.feedback_head{
    text-align: center;
    margin-top:50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.overall_feedback{
   background-image: url(https://cdn.shopify.com/s/files/1/0565/8021/0861/files/Group_4102_6c123429-9ce3-4abf-80e3-d474b06341e8.png?v=1681730828);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.feedback_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    height:570px;
    gap:20px;
    margin-left: 20px;
}
    
.feedback_parent{
    background-color:#B8E9FF;
    margin-top:20px;
    box-shadow: 0px 8px 10px rgb(0 0 0 / 12%);
    border-radius: 10px;
}
.feedback_child1 img{
    width:340px;
    height:250px;
    margin-left:10px;
    margin-top: 10px;
}
.feedback_child1 p{
    width:350px;
    padding:10px;
}
.feedback_child2 img{
    width:120px;
    height:20px;
    margin-top:30px;
}
.feedback_child2 p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-left: 15px;
    margin-top:10px;
}
.feedbacks button{
    width: 300px;
    height:47px;
    margin-bottom:50px ;
    border: 0px;
    border-radius: 6px;
    background-color:  #ef6c00;
    color: white;
    font-size: 17px;
    margin-left:40%;
    margin-top:20px;
}

.paragraph{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}

/* image six */

.image_six img{
    width:100%;
    height:500px;
    
}

/* issues_head */
.issues_container{
    background-color:#F2FFFD ;
    height:600px;
}
.issues_head{
    text-align: center;
    margin:30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.issues_parent{
    display:flex;

}
.issues_child1,.issues_child2{
    width:50%;
}

.issues_child1 img{
    width:500px;
    height:360px;
    margin-left:30%;
}
.issues_child2 h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 18px;
    opacity: 0.8;
}
.issues_grandchild{
    display: flex;
    background-color: white;
    margin:20px;
    width:400px;
}
.grand1 img{
  width:100px;
  height:90px;
}
.grand2 h3{
    margin: 10px;
    font-size: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 0.6;
}
.grand2 p{
    margin-left:10px;
    font-weight: 600;
}

/* questions container */

.question_conatiner h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:30px;
    text-align: center;
}
.question_conatiner button i{
   color:#727070;
   font-size: x-large;
  
}
.question_conatiner p{
    font-size: 20px;
    cursor: pointer;
    color: #727070;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* margin-left:50px; */
    line-height: 31px;
    width:1300px;
}
.answer{
    display: none;
    margin-left:100px;
}

.answer p{
    width:85%;
}
.question1{
    width:80%;
    text-align: left;
    display: flex;
    margin:30px;
    margin-left:100px;
    padding-bottom: 20px;
       border: 0px;
    border-bottom: 1px solid #727070 ;

    background-color: white;
    
}
.question1:focus+.answer{
  display: block;
 
}


/* green box */

.greenblock{
    width:100%;
    height:100px;
    background-color: #E8F4C2;
    color:#769A03;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top:70px;
}
.greenbox{
    display: flex;
    padding: 30px;
    width:270px;
    justify-content: space-evenly;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.vet{
    margin-top:-14px;
}
.vet i{
    margin-top: 14px;
}
.greenbox i{
    font-size: 35px;
   padding-right:35px;
    color:#769A03;

}
.bold{
    font-weight: 600;
    font-size: 17px;
}

/* lists */
.overall_list{
    display:grid;
    grid-template-columns: 250px 250px 250px 1fr;
    gap:30px;
    margin-top: 100px;
    margin-left:190px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.lists{
    width:280px;
    line-height: 30px;
}
.lists h3{
    margin-bottom: 10px;
    @import url(https://db.onlinewebfonts.com/c/ae8f19f441b335c3fda30febf5069c5a?family=Gotham+Rounded+Bold);   
}
.lists img{
    width:130px;
    height:50px; 
    margin-bottom: 30px;
}
.lists i{
    padding-right:5px;
}
.touch{
    margin-top: 30px;
}

/* popular searches */
.searchs{
    width:1300px;
    margin:auto;
    margin-top:50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.searchs h3{
    margin-bottom: 20px;
}
.searchs li{
    display: inline;
    padding:0px 10px;
    line-height: 30px;
    border-left:1px solid black;
    font-size: 17px;
}

/* footer */
.footer{
     margin:100px 100px 0px 100px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.footer h3{
    margin-bottom: 20px;
}
#p{
    text-align: center;
    font-size: 15px;
    margin:10px;
    font-weight: 500;
}

@media (max-width: 574px) {
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* width:100%; */
    
  }
    .navbar{
      padding-left:10px;
      height: 60px;
      margin-top: -10px;
      
    }
    .navbar h1{
      font-size: 20px;
      margin-left:-15px;
    }
    .search{
      width:500px;
      height: 25px;
      font-size: 12px;
      /* position: relative; */
      /* margin-top: 80px; */
    }
    #pincode{
      display: none;
    }
    .navbar i{
      font-size: 15px;
    }

  /* Sticky bar */
  .sticky {
   display: none;
  }
  .image_one img{
    height:200px;
    margin-top:40px;
  }
  .light_green p{
    font-size: 14px;
  }
  .light_green i{
    font-size: 18px;
  }

  .advice_image{
    gap:15px;
  }
  .advice_image img{
    width:80px;
    height:80px;
  }
  .image_two p{
    font-size: 17px;
    
  }
  .dog{
    height:200px;
  }
  .bgcolor{
    height:300px;
  }
  .image_two_relative button{
    margin-left:160px;
    width:140px;
    font-size: 15px;
  }
  .image_three_row{
    overflow: auto;
    height:490px;
    margin:20px 0px;
  }
  .image_three_row::-webkit-scrollbar{
    display: none;
  }
  .image_three_row img{
    height:130px;
    padding: 10px 30px;
    width:150px;
  }
  .container_leaf{
    margin-left: 30px; 
}
.leaf_child h1{
    font-size:14px;
}
#star{
    padding:0px 10px;
    margin-top:px;
    width:100px;
}
#star i{
    font-size: 12px;
}
.leaf_parent{
    width:70px;
}
.leaf_child img {
    width:20px;
    height:80px;
}
.pa{
    font-size: 12px;
}
.overall_feedback{
    overflow: auto;
}
.overall_feedback::-webkit-scrollbar{
    display: none;
}
.feedback_head{
    font-size: 20px;
}
.feedback_parent{
    width:250px;
}
.feedback_parent img{
    width:230px;
    height:170px;
}
.feedback_child1 p{
    width:250px;
}
.feedback_child2 img{
    width:100px;
    height:20px;
}
  
  .image_four img{
    margin-top:-60px;
    margin-left:120px;
  }
  
 .greenblock i{
   font-size: 17px;
   margin-left:-20px;
 }
 .greenblock p{
  font-size: 10px;
  margin-right:-20px;
  width:50px;
 }
 .greenbox{
  width:100%;
 }
 .overall_list{
  width:100%;
  margin-top: -10px;
  display: flex;
  gap:150px;
 
 }
  .lists{
    width:100px;
    font-size: 10px;
    margin-left: -150px;
  }
  .lists img{
     width:100px;
     margin-bottom: -3px;
  }
  .last{
    line-height: 17px;
    width:150px;
  }
  .searchs{
    width:100%;
    margin-left:10px;
  }
  .searchs li{
    font-size: 12px;
    line-height: 1px;
    text-align: justify;
  }
  .footer {
    width:100%;
  }
  .footer h3,.footer p{
    margin-left:-80px;
  }
  .footer p{
    font-size: 14px;
    margin-top:-10px;
  }
  #p{
    text-align: center;
  }

}


 


/* ----------- TABLET (575px to 1199px) ----------- */
@media (min-width: 575px) and (max-width: 1199px) {

  html, body {
    overflow-x: hidden;
    width: 100%;
  }

  /* Navbar */
  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 10px 25px;
    
  }

  .navbar h1 {
    font-size: 26px;
  }
  .navbar i{
    font-size:25px;
  }

  .search {
    width: 60%;
    height: 40px;
  }

  #pincode {
    width: 40%;
  }

  /* Sticky */
  .sticky {
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    height:100px;
    padding: 8px ;
    margin-top:50px;
    gap:30px;
  }
 /* hover */
  .cat_menu:hover .cat_container {
  display: flex;     
  width:100%;   
  position: fixed; 
    /* shows on hover */
  top:156px;
  height:600px;
  border-radius: 9px;
  left:0px;
}
.cat_rows{
  line-height: 21px;
}
.dog_rows{
  line-height: 22px;
  margin-top: 20px;
}
.pharmacy_container{
  margin-left:-40px;
}
.pharmacy_rows{
  line-height: 28px;
}
.image_one img{
    height:500px;
}
.dog{
    width:70%;
    margin-top:30%;
}
.bgcolor{
    margin-top: 25%;
    height:450px;
}
.image_two_relative button{
    margin-left:40%;
}
.image_four{
    margin-left:-15%;
}
.container_leaf{
    margin-left: 15%;
}
.feedback_container{
    overflow: auto;
}
.feedback_container::-webkit-scrollbar{
    display: none;
}
.issues_child1 img{
    margin-left:10%;
    width:80%;
}
.grand1{
    width:40%;
}
.answer P{
    font-size: 19px;
}

  /* Green block */
  .greenblock {
    grid-template-columns:repeat(4,minmax(90px,1fr));
    height:100px;
    text-align: center;
    
  }
  
  .greenbox i {
    font-size: 25px;
  }

  /* Lists */
  .overall_list {
    grid-template-columns: 170px 170px 170px 1fr;
    justify-items: center;
    margin: 20px 0;
    margin-left:70px;
  }
  .last{
    margin-left:-100px;
  }

  .lists h3 {
    font-size: 16px;
  }
  .searchs{
    width:98%;
    margin:20px;
    font-size: 12px;
  }
  

  /* Footer */
  .footer {
    margin: 40px 10px;
    text-align: center;
    font-size: 14px;
  }
  #p{font-size: 10px;}
}