*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}

.navbar
{
  display: flex;
  width: 100%;
  height:70px;
  background-color:black;
  color:white;
  gap:30px;
  align-items: center;
  padding-left:60px;
  position: fixed;
  z-index: 1;
}

.navbar i{
  font-size:29px;
}

/* Container for the search bar */
    .search {
      margin:0px;
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: 8px;
      overflow: hidden;
      width:550px;
      height:40px;
    }

    /* Input field styling */
    .search input[type="text"] {
      padding: 10px 15px;
      border: none;
      outline: none;
      width: 100%;
      font-size: 16px;
      background-color: transparent;
    }

    /* Search button with icon */
    .search button {
      padding: 10px 15px;
      background-color: #8db40d;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 10px;
      margin-left:400px;
    }

    /* Hover effect for the button */
    .search button:hover {
      background-color: #719303;
    }

    #pincode{
      width:260px;
      height:40px;
      background-color: rgb(65, 64, 64);
      border:1px solid rgb(87, 86, 86);
      border-radius:6px;
      margin-left:50px;
      padding-left: 10px;
    }
    #pincode::placeholder{
      color:white;
    }


    /* sticky navbar  */
.sticky {
  width: 100%;
  height: 60px;
  position: relative;         
  top: 70px;
  left: 0;
  z-index: 1000;
  color: white;
  background-color: rgb(52, 52, 52);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.sticky p i {
  font-size: 13px;
  padding-left: 10px;
}

.sticky p:hover {
  font-size: 21px;
  font-weight: 450;
  cursor: pointer;
}

/* Dropdown Container for Cats */
.cat_container {
  width: 100%;
  transition: opacity 0.2s ease;

  height: 600px;
  display: none;            /* hidden by default */
  position: absolute;
  top: 0px;              
  left: 0;
  background-color: white;
  color: black;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 999;
}

.cat_menu {
  position: relative;
}

.cat_menu:hover .cat_container {
  display: flex;     
  width:100%;   
  position: fixed; 
    /* shows on hover */
  top:130px;
  height:600px;
  border-radius: 9px;
  left:0px;
}

/* Cat container inner design */
.cat_rows,.dog_rows {
  width: 700px;
  line-height: 30px;
}
.cat_rows p,.dog_rows p,.pharmacy_rows p{
    font-size: 15px;
}
.cat_rows h3,.dog_rows h3,.pharmacy_rows h3{
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cat_container button {
  background-color: #99c703;
  border-radius: 6px;
  border: 0;
  width: 90px;
  height: 20px;
  margin-left: 10px;
}

.cat_container p:hover {
  font-weight: 500;
  font-size: 14px;
}

/* dog hover */
.dog_container{
    width:100%;
    height:500px;
     display: none;
     position: absolute;
    /* background-color: aquamarine; */
    top:60px;
    left:100px;
    background-color: white;
    color:black;
    
    z-index: 999;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.dog_container button{
    background-color:#caf14a;
    border-radius: 6px;
    border:0px solid white;
    width:90px;
    height:20px;
    margin-left: 10px;
}
.dog_rows{
    width:700px;
    line-height: 30px;
}
.dog_container p:hover{
    font-weight: 500;
    font-size: 17px;
}
.cat_menu:hover .dog_container {
  display: flex;     
  width:100%; 
  border-radius: 9px;
  height:600px; 
  position: fixed; 
  gap:30px;
  left:0px;
  top:120px;
}
/* pharmacy container */
.pharmacy_container{
    width:100%;
    height:500px;
    display:none;
    
    top:60px;
    left:0;
    padding:40px;
    position: absolute;
    z-index: 999;
    color:black;
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.pharmacy_menu {
    position: relative;
}
.pharmacy_rows{
    width:200px;
    line-height: 30px;
   
}
.pharmacy_container p:hover{
    font-weight: 400;
}
.pharmacy_menu:hover .pharmacy_container {
    display:flex;
    width: 100%;
    gap:50px;
    position: fixed;
    padding-left: 150px;
    height:600px;
    top:120px;
    /* left:150px; */
    border-radius: 9px;
}

/* breed container */
.breed_container{
    display:none;
    overflow: auto;
    position:absolute;
    background-color: white;

}
.breed_menu{
    position: relative;
}
.breed_div img{
    width:150px;
    height:150px;
    margin: 10px 25px;
}
.breed_div p{
    font-size: 19px;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: 500;
}
.breed::-webkit-scrollbar {
        display: none;/* Hides scrollbar in WebKit-based browsers like Chrome, Safari, and older Edge*/
    } 
.breed_menu:hover .breed_container{
    display:flex;
    width: 100%;
    position: fixed;
    height:230px;
    overflow:auto;
    left:0px;
    top:120px;
    font-weight: 500;
} 
.breed_container::-webkit-scrollbar{
  display: none;
}




/* contact us */
.contact{
    margin:100px 13% 0px 13%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.contactbox{
    width:98%;
    height:100px;
    margin:20px 0px;
    display: flex;
    padding:30px;
    gap:40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.para{
    width:50%;
}


button{
    width: 200px;
    height:40px;
    border-radius: 7px;
    border:0px;
    background-color:#ef6c00;
    color:white;
    font-size: 15px;
    margin-left:500px;
}
#icon{
    font-size: 30px;
}

/* quick links */

.quicklink{
    width:73%;
   /* background-color:antiquewhite; */
   margin:50px 200px 0px 200px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.quicklink h3{
    margin-bottom: 25px;
    font-size: 23px;
}
.quickbox i{
    font-size: 30px;
    color:rgb(154, 240, 24);
}

.quickboxes{
    display: flex;
    height:100px;
    padding:30px;
    gap:20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
}
.two p:first-child{
    margin-top:-4px;

}
.quickbox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    gap:20px;
}

/* browse topic */

.browse{
    width:73%;
    margin:50px 200px 0px 200px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.topicboxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}
.topicbox{
   
    height:90px;
    display: flex;
    gap:20px;
    padding:10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    justify-content: center;
    align-items: center;
}
.topicbox i{
    font-size: 30px;
}
.browse h3{
    margin-bottom: 25px;
    font-size: 23px;
}

/* get in touch */
 
.get{
    width:350px;
    margin:70px 200px 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 35px;
}
.seller{
    display: flex;
    gap:15px;
    width:390px;
    height:90px;
    margin-top: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    padding:30px;
}
.seller p{
    width:200px;
    line-height: 21px;
}
.get h3{
    font-size: 23px;
}

.get i{
   font-size: 20px;
   padding-right:30px;
}

/* green box */

.greenblock{
    width:100%;
    height:100px;
    background-color: #E8F4C2;
    color:#769A03;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top:90px;
}
.greenbox{
    display: flex;
    padding: 30px;
    width:270px;
    justify-content: space-evenly;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.vet{
    margin-top:-14px;
}
.vet i{
    margin-top: 14px;
}
.greenbox i{
    font-size: 35px;
   padding-right:35px;
    color:#769A03;

}
.bold{
    font-weight: 600;
    font-size: 17px;
}

/* lists */
.overall_list{
    display:grid;
    grid-template-columns: 250px 250px 250px 1fr;
    gap:30px;
    margin-top: 100px;
    margin-left:190px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.lists{
    width:280px;
    line-height: 30px;
}
.lists h3{
    margin-bottom: 10px;
    @import url(https://db.onlinewebfonts.com/c/ae8f19f441b335c3fda30febf5069c5a?family=Gotham+Rounded+Bold);   
}
.lists img{
    width:130px;
    height:50px; 
    margin-bottom: 30px;
}
.lists i{
    padding-right:5px;
}
.touch{
    margin-top: 30px;
}

/* popular searches */
.searchs{
    width:1300px;
    margin:auto;
    margin-top:50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.searchs h3{
    margin-bottom: 20px;
}
.searchs li{
    display: inline;
    padding:0px 10px;
    line-height: 30px;
    border-left:1px solid black;
    font-size: 17px;
}

/* footer */
.footer{
     margin:100px 100px 0px 100px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.footer h3{
    margin-bottom: 20px;
}
#p{
    text-align: center;
    font-size: 15px;
    margin:10px;
    font-weight: 500;
}


@media (max-width: 574px) {
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* width:100%; */
    
  }
    .navbar{
      padding-left:10px;
      height: 60px;
      margin-top: -100px;
      
    }
    .navbar h1{
      font-size: 20px;
      margin-left:-15px;
    }
    .search{
        display: none;
      width:500px;
      height: 25px;
      font-size: 12px;
      /* position: relative; */
      /* margin-top: 80px; */
    }
    #pincode{
      display: none;
    }
    .navbar i{
      font-size: 15px;
    }

  /* Sticky bar */
  .sticky {
   display: none;
  }

 .contact h1{
    font-size: 23px;
    width:200px;
    margin-left:-20px;
 }
  
.contactbox{
    width:120%;
    height:100px;
    margin:20px 0px;
    display: flex;
    padding:30px;
    margin-left:-30px;
    gap:20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.para p{
    width:600px;
    font-size: 15px;
}


.contactbox button{
    width: 100px;
    height:30px;
    border-radius: 7px;
    font-size: 10px;
    border:0px;
    margin-left:40px;
    background-color:#ef6c00;
    color:white;
    
}
#icon{
    font-size: 30px;
}
.quicklink h3{
    font-size: 18px;
    margin-left:-150px;
}
.quickbox{
    width:450px;
    display:block;
    margin-left:-180px;
}
.quickboxes p{
    width:260px;
}

.browse{
    margin-left:20px;
}
.topicboxes {
    display: grid;
    grid-template-columns: repeat(2,220px);
    grid-template-rows: repeat(3,80px);
}
.topicbox i{
    font-size: 22px;
}
.topicbox p{
    width:150px;
}
.get{
    margin-left:20px;
}
.get h3{
    font-size: 20px;
    opacity: 0.8;
}
.border{
    width:450px;
    border: 1px solid rgb(228, 226, 226);
    border-radius: 3px;
    margin-top:15px;
    padding-left:10px;
}
.seller {
    width:450px;
    height:70px;
    padding:20px;
}
 .greenblock i{
   font-size: 17px;
   margin-left:-20px;
 }
 .greenblock p{
  font-size: 10px;
  margin-right:-20px;
  width:50px;
 }
 .greenbox{
  width:100%;
 
 }
 .greenblock{
    margin-top: 10px;
    margin-bottom: 10px;
 }
 .overall_list{
  width:100%;
  margin-top: -10px;
  display: flex;
  gap:150px;
 
 }
  .lists{
    width:100px;
    font-size: 10px;
    margin-left: -150px;
  }
  .lists img{
     width:100px;
     margin-bottom: -3px;
  }
  .last{
    line-height: 17px;
    width:150px;
  }
  .searchs{
    width:100%;
    margin-left:10px;
  }
  .searchs li{
    font-size: 12px;
    line-height: 1px;
    text-align: justify;
  }
  .footer {
    width:100%;
  }
  .footer h3,.footer p{
    margin-left:-90px;
  }
  .footer p{
    font-size: 14px;
    margin-top:10px;
  }
  #p{
    text-align: center;
  }
}



/* ----------- TABLET (575px to 1199px) ----------- */
@media (min-width: 575px) and (max-width: 1199px) {

  html, body {
    overflow-x: hidden;
    width: 100%;
  }

  /* Navbar */
  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 10px 25px;
    
  }

  .navbar h1 {
    font-size: 26px;
  }
  .navbar i{
    font-size:25px;
  }

  .search {
    width: 60%;
    height: 40px;
  }

  #pincode {
    width: 40%;
  }

  /* Sticky */
  .sticky {
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    height:100px;
    padding: 8px ;
    margin-top:50px;
    gap:30px;
  }
 /* hover */
  .cat_menu:hover .cat_container {
  display: flex;     
  width:100%;   
  position: fixed; 
    /* shows on hover */
  top:156px;
  height:600px;
  border-radius: 9px;
  left:0px;
}
.cat_rows{
  line-height: 21px;
}
.dog_container{
  margin-top:50px;
  padding-left: 10px;
}
.dog_rows{
  line-height: 22px;
  margin-top: 20px;
}
.pharmacy_container{
  margin-left:-40px;
}
.pharmacy_rows{
  line-height: 28px;
}
.para p{
  width:270px;
}
.contactbox button{
  margin-left:-20px;
}
.quickbox{
  margin-left: -80px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

  /* Green block */
  .greenblock {
    grid-template-columns: repeat(3, 1fr);
    height: 200px;
    text-align: center;
    
  }
  
  .greenbox i {
    font-size: 25px;
  }

  /* Lists */
  .overall_list {
    grid-template-columns: 170px 170px 170px 1fr;
    justify-items: center;
    margin: 0px 0;
    margin-left:70px;
  }
  .last{
    margin-left:-100px;
  }

  .lists h3 {
    font-size: 16px;
  }
  .searchs{
    width:100%;
    margin:20px;
    font-size: 12px;
  }

  /* Footer */
  .footer {
    margin: 40px 20px;
    text-align: center;
    font-size: 14px;
  }
}
