*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.dog_container{
    width:100%;
    height:500px;
     display: none;
     position: absolute;
    /* background-color: aquamarine; */
    top:60px;
    left:0;
    background-color: white;
    color:black;
    padding: 40px;
    z-index: 999;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.dog_container button{
    background-color:#caf14a;
    border-radius: 6px;
    border:0px solid white;
    width:90px;
    height:20px;
    margin-left: 10px;
}
.dog_rows{
    width:700px;
    line-height: 30px;
}
.dog_container p:hover{
    font-weight: 600;
}