
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

/* Sticky Navbar */
.sticky {
  width: 100%;
  height: 60px;
  position: fixed;          /* makes it stay like Supertails */
  top: 0;
  left: 0;
  z-index: 1000;
  color: white;
  background-color: rgb(52, 52, 52);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.sticky p i {
  font-size: 13px;
  padding-left: 10px;
}

.sticky p:hover {
  font-size: 21px;
  font-weight: 450;
  cursor: pointer;
}

/* Dropdown Container for Cats */
.cat_container {
  width: 100%;
  transition: opacity 0.2s ease;

  height: 500px;
  display: none;            /* hidden by default */
  position: absolute;
  /* top: 40px;                directly below navbar */
  left: 0;
  background-color: white;
  color: black;
  padding: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 999;
}

.cat_menu {
  position: relative;
}

.cat_menu:hover .cat_container {
  display: flex;     
  width:1400px;   
  position: fixed;    /* shows on hover */
  top:60px;
  left:30px;
}

/* Cat container inner design */
.cat_rows,.dog_rows {
  width: 700px;
  line-height: 30px;
}
.cat_rows p,.dog_rows p,.pharmacy_rows p{
    font-size: 17px;
}
.cat_rows h3,.dog_rows h3,.pharmacy_rows h3{
    font-size: 19px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cat_container button {
  background-color: #99c703;
  border-radius: 6px;
  border: 0;
  width: 90px;
  height: 20px;
  margin-left: 10px;
}

.cat_container p:hover {
  font-weight: 500;
  font-size: 18px;
}

/* dog hover */
.dog_container{
    width:100%;
    height:500px;
     display: none;
     position: absolute;
    /* background-color: aquamarine; */
    top:60px;
    left:100px;
    background-color: white;
    color:black;
    
    z-index: 999;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.dog_container button{
    background-color:#caf14a;
    border-radius: 6px;
    border:0px solid white;
    width:90px;
    height:20px;
    margin-left: 10px;
}
.dog_rows{
    width:700px;
    line-height: 30px;
}
.dog_container p:hover{
    font-weight: 500;
    font-size: 17px;
}
.cat_menu:hover .dog_container {
  display: flex;     
  width:1400px;  
  position: fixed; 
  gap:30px;
}
/* pharmacy container */
.pharmacy_container{
    width:100%;
    height:500px;
    display:none;
    
    top:60px;
    left:0;
    padding:40px;
    position: absolute;
    z-index: 999;
    color:black;
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.pharmacy_menu {
    position: relative;
}
.pharmacy_rows{
    width:200px;
    line-height: 30px;
   
}
.pharmacy_container p:hover{
    font-weight: 400;
}
.pharmacy_menu:hover .pharmacy_container {
    display:flex;
    width: 1400px;
    gap:50px;
    position: fixed;
    left:150px;
}

/* breed container */
.breed_container{
    display:none;
    overflow: auto;
    position:absolute;

}
.breed_menu{
    position: relative;
}
.breed_div img{
    width:150px;
    height:150px;
    margin: 10px 25px;
}
.breed_div p{
    font-size: 19px;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: 500;
}
.breed::-webkit-scrollbar {
        display: none;/* Hides scrollbar in WebKit-based browsers like Chrome, Safari, and older Edge*/
    } 
.breed_menu:hover .breed_container{
    display: flex;
    /* position: fixed; */
    overflow:scroll;
    left:-900px;
    top:70px;
} 


